

*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather Sans' , sans-serif;
}

body{

    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #404952;

}

.container{

    height: 100px;
    justify-content: center;
    align-items: center;
    margin-bottom: center;

}
